# Arquivos do interpretador Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações do PyCharm
.idea/

# Dependências instaladas
venv/
env/
*.egg-info/
Pipfile
Pipfile.lock
poetry.lock

# Logs e caches
*.log
*.sqlite3
db.sqlite3

# Arquivos de saída
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Docker
docker-compose.override.yml

# Variáveis de ambiente e credenciais
.env
.env.local
.env.*.local
